
'.text.mjml.basic, .text.mjml, .text.mjml .meta.scope.between-tag-pair, .text.mjml .punctuation.tag.begin':

# MJML elements
  'Mjml Container':
    'prefix': 'contain'
    'body': """
      <mj-container>
      \t$1
      </mj-container>
    """

  'Mjml Divider':
    'prefix': 'divider'
    'body': """
      <mj-divider $1 />
    """

  'Mjml Container':
    'prefix': 'container'
    'body': """
      <mj-container>
      \t$1
      </mj-container>
    """

  'Mjml Invoice':
    'prefix': 'invoice'
    'body': """
      <mj-invoice>
      \t$1
      </mj-invoice>
    """

  'Mjml Location':
    'prefix': 'location'
    'body': """
      <mj-location>
      \t$1
      </mj-location>
    """

  'Mjml Table':
    'prefix': 'table'
    'body': """
      <mj-table>
      \t$1
      </mj-table>
    """

  'Mjml':
    'prefix': 'mjml'
    'body': """
      <mjml>
      \t$1
      </mjml>
    """

  'Mjml Column':
    'prefix': 'col'
    'body': """
      <mj-column>
      \t$1
      </mj-column>
    """

  'Mjml Column':
    'prefix': 'column'
    'body': """
      <mj-column>
      \t$1
      </mj-column>
    """

  'Mjml Section':
    'prefix': 'section'
    'body': """
      <mj-section>
      \t$1
      </mj-section>
    """

  'Mjml Raw':
    'prefix': 'raw'
    'body': """
      <mj-raw>
      \t$1
      </mj-raw>
    """

  'Mjml Text':
    'prefix': 'text'
    'body': """
      <mj-text>
      \t$1
      </mj-text>
    """

  'Mjml Button':
    'prefix': 'button'
    'body': """
      <mj-button>
      \t$1
      </mj-button>
    """

  'Mjml List':
    'prefix': 'list'
    'body': """
      <mj-list>
      \t$1
      </mj-list>
    """

  'Mjml Body':
    'prefix': 'body'
    'body': """
      <mj-body>
      \t$1
      </mj-body>
    """

  'Mjml Social':
    'prefix': 'social'
    'body': """
      <mj-social>
      \t$1
      </mj-social>
    """

  'MJML Image':
    'prefix': 'image'
    'body': """
      <mj-image $1 />
    """

  'MJML Group':
    'prefix': 'group'
    'body': """
      <mj-group>
      \t$1
      </mj-group>
    """

  'MJML Head':
    'prefix': 'head'
    'body': """
      <mj-head>
      \t$1
      </mj-head>
    """

  'MJML Attributes':
    'prefix': 'attributes'
    'body': """
      <mj-attributes>
      \t$1
      </mj-attributes>
    """

  'MJML Font':
    'prefix': 'font'
    'body': """
      <mj-font $1 />
    """

  'MJML Title':
    'prefix': 'title'
    'body': """
      <mj-title> $1 </mj-title>
    """

  'MJML HTML':
    'prefix': 'html'
    'body': """
      <mj-html>
      \t$1
      </mj-html>
    """

  
