
'.text.mjml.basic, .text.mjml, .text.mjml .meta.scope.between-tag-pair, .text.mjml .punctuation.tag.begin':

# MJML elements
  'Mjml Container':
    'prefix': 'contain'
    'body': """
      <mj-container>\n\t$1\n</mj-container>
    """

  'Mjml Divider':
    'prefix': 'divider'
    'body': """
      <mj-divider $1 />
    """

  'Mjml Container':
    'prefix': 'container'
    'body': """
      <mj-container>\n\t$1\n</mj-container>
    """

  'Mjml Invoice':
    'prefix': 'invoice'
    'body': """
      <mj-invoice>\n\t$1\n</mj-invoice>
    """

  'Mjml Location':
    'prefix': 'location'
    'body': """
      <mj-location address="$1"/>
    """

  'Mjml Table':
    'prefix': 'table'
    'body': """
      <mj-table>\n\t$1\n</mj-table>
    """

  'Mjml':
    'prefix': 'mjml'
    'body': """
      <mjml>\n\t$1\n</mjml>
    """

  'Mjml Column':
    'prefix': 'col'
    'body': """
      <mj-column>\n\t$1\n</mj-column>
    """

  'Mjml Column':
    'prefix': 'column'
    'body': """
      <mj-column>\n\t$1\n</mj-column>
    """

  'Mjml Section':
    'prefix': 'section'
    'body': """
      <mj-section>\n\t$1\n</mj-section>
    """

  'Mjml Raw':
    'prefix': 'raw'
    'body': """
      <mj-raw>\n\t$1\n</mj-raw>
    """

  'Mjml Text':
    'prefix': 'text'
    'body': """
      <mj-text>\n\t$1\n</mj-text>
    """

  'Mjml Button':
    'prefix': 'button'
    'body': """
      <mj-button>\n\t$1\n</mj-button>
    """

  'Mjml List':
    'prefix': 'list'
    'body': """
      <mj-list>\n\t<li>$1</li>\n</mj-list>
    """

  'Mjml Body':
    'prefix': 'body'
    'body': """
      <mj-body>\n\t$1\n</mj-body>
    """

  'Mjml Social':
    'prefix': 'social'
    'body': """
      <mj-social>\n\t$1\n</mj-social>
    """

  'MJML Image':
    'prefix': 'image'
    'body': """
      <mj-image src="$1" />
    """

  'MJML Group':
    'prefix': 'group'
    'body': """
      <mj-group>\n\t$1\n</mj-group>
    """

  'MJML Head':
    'prefix': 'head'
    'body': """
      <mj-head>\n\t$1\n</mj-head>
    """

  'MJML Attributes':
    'prefix': 'attributes'
    'body': """
      <mj-attributes>\n\t$1\n</mj-attributes>
    """

  'MJML Font':
    'prefix': 'font'
    'body': """
      <mj-font name="$1" href="$2" />
    """

  'MJML Title':
    'prefix': 'title'
    'body': """
      <mj-title>$1</mj-title>
    """

  'MJML HTML':
    'prefix': 'html'
    'body': """
      <mj-html>\n\t$1\n</mj-html>
    """

  'Mjml Spacer':
    'prefix': 'spacer'
    'body': """
      <mj-spacer $1 />
    """

  'Mjml Class':
    'prefix': 'class'
    'body': """
      <mj-class name="$1" $2/>
    """

  'Mjml All':
    'prefix': 'all'
    'body': """
      <mj-all $1 />
    """

  'MJML Hero':
    'prefix': 'hero'
    'body': """
      <mj-hero>
        <mj-hero-content>\n\t$1\n</mj-hero-content>
      </mj-hero>
    """

  'MJML Include':
    'prefix': 'include'
    'body': """
      <mj-include path="$1" />
    """

  'MJML Style':
    'prefix': 'style'
    'body': """
      <mj-style>\n\t$1\n</mj-style>
    """

  'MJML Chart':
    'prefix': 'style'
    'body': """
      <mj-chart $1 />
    """

# MJML Template
  'Basic MJML Template':
    'prefix': 'mjml-'
    'body': """
      <mjml>
      \t<mj-head>
      \t\t<mj-title>$1</mj-title>
      \t\t<mj-attributes>
      \t\t\t$2
      \t\t</mj-attributes>
      \t</mj-head>
      \t<mj-body>
      \t\t<mj-container>

      \t\t\t<mj-section>
      \t\t\t\t<mj-column>
      \t\t\t\t\t$3
      \t\t\t\t</mj-column>
      \t\t\t</mj-section>

      \t\t</mj-container>
      \t</mj-body>
      </mjml>
    """
